// @author Andrew Basore
// Intent: Make grid styling for Component that displays biographical information
.home{
    //Setup CSS Grid 
    display:grid;
    grid-template-areas: 
            "head head head" 
            "tree bio photo" 
            "tree bio photo" ;
            
    grid-template-rows:   125px repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8px;

    justify-items: center;
    align-items: top;
    padding: 0;
    

    //Place elements into their grid
    h1{
        grid-area: head;
        color: $orange;
        text-shadow: 3px 0px 7px rgba(0, 0, 0, 0.79);
    }

    #face{
        grid-area: photo;
        height: 300px;
        width: 300px;
        border-radius: 100%;
    }

    #palm-tree{
        display:flex;
        grid-area: tree;
        height: 200px;
        align-content: center;
    }

    p{
        grid-area: bio;
        margin: 1% 6% ;
        
    }


    @media(max-width: 900px){
        grid-template-areas:
            "head head head"
            "photo photo photo"
            "bio bio bio";
        #palm-tree{
            display: none;
        }
    }

    @media(max-width: 400px){
        img{
            height: 240px;
            width: 240px;
        }
    }
}