// @author Andrew Basore
// Intent: Make grid styling for Component that displays biographical information
.home{
    //Setup CSS Grid 
    display:grid;
    grid-template-areas: 
            "head head" 
            "bio photo" 
            "bio photo" ;
            
    grid-template-rows:   125px repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 8px;

    justify-items: center;
    align-items: top;
    padding: 0;
    

    //Place elements into their grid
    h1{
        grid-area: head;
    }

    img{
        grid-area: photo;
        height: 300px;
        width: 300px;
        border-radius: 100%;
    }

    p{
        grid-area: bio;
        margin-left: 6%;
        
    }


    @media(max-width: 650px){
        grid-template-areas:
            "head head head"
            "photo photo photo"
            "bio bio bio";
    }

    @media(max-width: 400px){
        img{
            height: 240px;
            width: 240px;
        }
    }
}