


// ===================
// Font and color variables
// ===================

// Google Fonts
// Import Google Font - Raleway 300 & 700
@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

// Fonts
$sans-serif: 'Raleway', sans-serif;
$font-light: 300;
$font-bold: 700;

// Colors
$black: #353535;
$gray: #4f4f4f;
$medium-gray: #737373;
$light-gray: #c4c4c4;
$orange: #ef570b;

// Semantic color names
$accent: $orange;

$body-background: $black;
$menu-background: $gray;

$main-font-color: $light-gray;
$menu-active-color: $light-gray;
$menu-font-color: $medium-gray;
$link-color: $accent;

//Size variables
//name some variables
$header-height: 110px;
$small-screen: 400px;
$large-screen: 900px;
$medium-screen: 600px;
$face-size: 300px;

//media queries for $header-height variable
@media(max-width: $large-screen){
    $header-height: 50px;
}
@media(max-width: $medium-screen){
    $header-height: 80px;
    $face-size: 200px;
};

// ===================
// General styles
// ===================

// * { box-sizing: border-box; }


body {
    background: $body-background;
    color: $main-font-color;
    font-family: $sans-serif;
    font-size: 1.2rem;
    line-height: 1.45;
    display: grid;
    flex-wrap: wrap;
  }
h1{
  color: $orange;
  text-shadow: 3px 0px 7px rgba(0, 0, 0, 0.79);
  @media(max-width: $large-screen){
      font-size: 1.75em;
      margin: 5% 0;
      height: 20px; 
  }
}
//grid css for footer
footer{
    display: grid;
    grid-template-columns: repeat(100px, 4);
    grid-template-areas: 'author social-media email';
    background-color: $orange;
    $small-screen: 600px;
    $large-screen: 900px;
    $medium-screen: 600px;


    
    

    img{
        margin-left: 5px;
        height: 20px;
        width: 20px;

        
    }

    p{
        padding-left: 5px;
        margin-bottom:1px;
        text-align: center;
        font-size: small;
        @media(max-width: $small-screen){ 
            span{
                display: none;
            } 
            font-size: x-small;}
    }
    
        
    

    #social-media{
        grid-area: social-media;
    }

    #author{
        grid-area: author;
    }

    #email{
        grid-area: email;
    }

    

}

// Entrypoint for SCSS files. All files imported here will be loaded by webpack
@import "portfolio.scss";
@import "home.scss";