
//General Styling for Main Container
.main-content{
  justify-content: center;
  flex: 1 1 80%;
  min-height: 100vh;
  display:grid;

  grid-template-rows: 75px 1fr;
  @media(min-width: $large-screen){
    grid-template-rows: 100px 1fr;
  }

  h1{
    max-height: 50px;
  }
}

// ===================
// Portfolio
// ===================

.portfolio {
  
  display: grid;
  height: 100%;
  width: 800px;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(6, 1fr);
  @media(max-width: 850px){ 
    width: 620px;
    grid-template-columns: repeat(4, 1fr);
  };
  @media(max-width: 675px){ 
    width: 450px;
    grid-template-columns: repeat(2, 1fr);
    
  };
  @media(max-width: 500px){ 
    width: 250px;
  };

  
  grid-gap: 20px;
}

.portfolio-item {
  
  
  background: $accent;
  color: $light-gray;

  
  font-weight: $font-bold;
  display: flex;
  justify-content: center;
  align-items: center;
  
  // Refractored the code a little from the video.
  // Moved these from the .two, thought it made
  // more sense like this.
  font-size: 1.5em;
  background-size: cover;
  background-position: top left;
  transition: all ease-in-out 300ms;
  position: relative;
  z-index: 10;
  
  &.medium {
    grid-row: span 4;
    grid-column: span 2;
  }

  transition: transform 1s ease-in-out;
  //transitions for Portfolio-item
  &:hover{
    transform-origin: 0 0;
    transform: scale(1.1);
  }
}

.lay-over{
  overflow: hidden;
  position: absolute;
}

// .gray {
//   background-image: --background-url;
  
//   &::before {
//     content: '';
//     display: block;
//     background: $black;
//     opacity: 0.2;
//     position: absolute;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     transition: all ease-in-out 300ms;
//     z-index: -1;
//   }
  
//   &:hover::before {
//     opacity: 0.8;
//   }
// }



