
.portfolio{
    @import './spinningcubes.scss';

    body{
        display: grid;
        grid-template-rows: 50px repeat(5, 250px);
        grid-template-areas: 
            "head"
            "content"
            "content"
            "content"
            "content"
            "content";
        justify-items: center;
    }

    @media(max-width: 420px){
        margin: 0;
        padding: 0;
    }
}